{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | Homepage{% endblock %}

{% block content %}
    <p>Willkommen auf der Seite der Mannschaften des SVNA Zweiten plus die der Dritten</p>
{% endblock %}